.home {
	// Slider styling
	.slick-slider {
		.slick-track {
			.slick-slide {
				position: relative;
				.slide-caption {
					bottom: $twentyfive;
					padding-right: $twentyfive;
					position: absolute;
					@include media( $large-screen ) {
						@include span-columns(6);
						@include shift(6);
					}
				}
			}
		}
		.slick-dots {
			bottom: $ten;
			right: $ten;
			position: absolute;
			li {
				display: inline-block;
				margin-right: $five;
				button {
					background: rgba(255,255,255,.2);
					border-radius: $fifty;
					height: $ten;
					padding: 0;
					text-indent: -9999px;
					width: $ten;
				}
				&.slick-active {
					button {
						background: rgba(255,255,255,.5);
					}
				}
				&:hover {
					button {
						background: rgba(255,255,255,.5);
					}
				}
			}
		}
	}
	.page-lead-in {
		.lead-in-copy {
			@include media( $large-screen ) {
				@include span-columns(8);
				@include shift(2);
			}
			p {
				color: $dark-gray;
			}
		}
		.lead-in-title {
			text-align: center;
			h1 {
				color: $orange;
			}
		}
	}
	.leading-shop-image {
		@include row();
		position: relative;
		img {
			float: left;
		}
		.overlay {
			display: none;
			height: 100%;
			width: 100%;
			@include media( $large-screen ) {
				@include row();
			}
			.thumb-title {
				color: $white;
				left: 50%;
				position: absolute;
				top: 50%;
				@include transition(all 0.2s ease-in-out);
				@include transform( translate(-50%,-50%) );
			}
		}
		:hover {
			.overlay {
				.thumb-title {
					color: $gray;
				}
			}
		}
	}
	.story-lead-in {
		@include outer-container;
		h1 {
			color: $orange;
			text-align: center;
		}
		h4 {
			margin-bottom: $fifty;
			text-align: center;
		}
		.story-image {
			@include media( $large-screen ) {
				@include span-columns(5);
				@include shift(1);
			}
		}
		.story-content {
			@include media( $large-screen ) {
				@include span-columns(5);
			}
		}
	}
}
