.utility-header {
	font-size: 16px;
	svg {
		fill: $offwhite;
		vertical-align: middle;
		width: 16px;
	}
	a {
		color: $offwhite;
	}
}

.cart-count {
	font-weight: 700;
}

.mobile-header {
	@include outer-container;
	background: $black;
	display: block;
	@include media( $large-screen ) {
		display: none;
	}
	.site-branding {
		@include span-columns(4);
		@include shift(4);
		margin-bottom: $fifteen;
		margin-top: $twentyfive;
	}
	.menu-hook-container {
		@include span-columns(2);
		@include shift(5);
		margin-bottom: $ten;
		text-align: center;
		.menu-hook {
			color: $offwhite;
			font: {
				size: 12px;
				weight: bold;
			}
			text-transform: uppercase;
		}
	}
	.slide-out {
		clear: both;
	}
	.mobile-navigation {
		@include row();
		padding: $fifteen 0;
		.main-navigation {
			@include span-columns(4);
			@include shift(2);
			li {
				font-weight: bold;
				margin-bottom: $five;
				text-transform: uppercase;
				a {
					color: $offwhite;
				}
				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}
		.utility-header {
			@include span-columns(4);
			text-align: right;
			.account-link,
			.cart-link {
				display: block;
			}
			.account-link {
				margin-bottom: $five;
			}
		}
	}
	.search-form {
		@include row();
		label {
			@include span-columns(8);
			@include shift(2);
			margin-bottom: 0;
		}
		input {
			background: {
				image: url('../images/magnifying_glass.svg');
			}
			margin-bottom: $fifteen;
			padding: $five $five $five $twentyfive;
		}
	}
}

.desktop-header {
	background: $black;
	border-bottom: $five solid $orange;
	display: none;
	z-index: 1; // Sets the header on top of all other content.
	@include media( $large-screen ) {
		display: block;
	}
	.inner-container {
		@include outer-container;
		padding-top: $fifteen;
		.utility-header {
			.account-link {
				@include shift(8);
				@include span-columns(1);
				padding-top: 3px;
				text-align: right;
				.account-title {
				}
			}
			.cart-link {
				@include span-columns(1);
				padding-top: 3px;
				text-align: right;
				.cart-title {
				}
			}
			.search-form {
				@include span-columns(2);
				color: $dark-gray;
				input[type="search"] {
					padding: $five $five $five $twentyfive;
					border: 2px solid $light-gray;
					background: {
						image: url('../images/magnifying_glass.svg');
					}
				}
			}
		}
		.main-navigation {
			.site-branding {
				@include span-columns(2);
			}
			.navigation {
				@include span-columns(10);
				text-align: right;
				ul {
					@include display(inline-flex);
					margin-top: 90px;
  					li {
 						@include flex-direction(row-reverse);
 						margin-bottom: 7px;
						font: {
							weight: 700;
						}
						text: {
							align: center;
							transform: uppercase;
						}
						a {
							color: $offwhite;
							padding: $ten $fifty;
							font-size: 24px;
							&:hover {
								background: $light-gray;
								color: $gray;
							}
						}
					}
				}
			}
		}
	}
}
