.product-container {
	@include row();
	padding: $fifty $twentyfive;
	.product-section {
		@include outer-container;
		margin-bottom: $fifty;
	}
	.product-gallery-container,
	.tech-specs {
		@include media( $large-screen ) {
			@include span-columns(5);
			@include shift(1);
		}
	}
	.product-add-to-cart,
	.supporting-video {
		position: relative;
		height: 0;
		overflow: hidden;
		max-width: 100%;
		height: auto;
		@include media( $large-screen ) {
			@include span-columns(4);
			@include shift(1);
		}
		iframe,
		object,
		embed {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	.product-top {
		.product-add-to-cart {
			h4 {
				margin-bottom: $twentyfive;
				@include media( $mobile ) {
					font-size: 22px;
				}
			}
			table,
			td {
				border: 0;
				margin: 0;
				padding: 0;
			}
			td.label {
				vertical-align: top;
			}
			td.value {
				select {
					margin: 0;
				}
			}
			.price {
				.amount {
					font-size: $h2-font-size;
					line-height: $h2-font-size;
				}
			}
			table.variations {
				margin-bottom: $twentyfive;
				.label {
					width: 33.3%;
					label {
						font-weight: 400;
					}
				}
				.value {
					width: 66.6%;
					select {
						border-radius: 0;
					}
					a {
						color: $gray;
						&:hover {
							color: $orange;
						}
					}
				}
				select {
					margin-bottom: $fifteen;
				}
			}
			.single_variation_wrap {
				@include row();
				margin-bottom: $fifty;
				.single_variation {
					@include span-columns(4);
				}
				.variations_button {
					@include span-columns(8);
					.quantity {
						@include span-columns(2);
						@include shift(1);
						input[type="number"] {
							border-radius: 0;
							padding: $ten 4px $five 7px;
						}
					}
					.single_add_to_cart_button {
						@include media( $mobile ) {
							font-size: 16px;
						}
						@include span-columns(8);
						@include shift(1);
						@include omega;
					}
				}
			}
		}
	}
	.product-middle {
		padding: $twentyfive 0;
		.tech-specs {
			ul {
				li {
					font-weight: 400;
					.key {
						@include span-columns(6);
					}
					.value {
						@include span-columns(6);
						.accordion-hook {
							color: $orange;
							&:hover {
								cursor: pointer;
							}
						}
						p {
							font-size: 16px;
						}
					}
				}
			}
		}
		.supporting-video {
			padding-bottom: 27.25%;
		}
		.product-story {
			@include media( $large-screen ) {
				@include span-columns(4);
				@include shift(1);
			}
		}
	}
	.related-products {
		h2 {
			display: none;
		}
		h4 {
			color: $gray;
			font-size: 22px;
		}
		.products {
			@include outer-container;
			.product {
				@include media( $large-screen ) {
					@include span-columns(3);
				}
				text-align: center;
				.price,
				.product_type_variable,
				.add_to_cart_button {
					display: none;
				}
				h3 {
					color: $gray;
					font-size: $h4-font-size;
					font-weight: 900;
					text-transform: uppercase;
				}
				&:hover {
					h3 {
						color: $orange;
					}
				}
			}
		}
	}
}
