$orange: #d83c16;
$orange-hover: #de8c63;
$black: #0e181c;
$dark-gray: #3e4649;
$gray: #6e7476;
$light-gray: #9ea2a4;
$offwhite: #ced0d1;
$white: #e6e7e8;
$background: #fff;
$overlay: rgba(0,0,0,.7);

$five: 5px;
$ten: 10px;
$fifteen: 15px;
$twenty: 20px;
$twentyfive: 25px;
$thirty: 30px;
$fifty: 50px;
$hundred: 100px;
