.woocommerce-account {
	.woocommerce {
		@include row();
		.login, h2 {
			@include media( $large-screen ) {
				@include span-columns(6);
				@include shift(3);
			}
		}
		.login {
			label[for="rememberme"] {
				display: inline;
				font-size: 14px;
				font-weight: 400;
			}
		}
	}
}

.shop_table {
	.row {
		@include row();
		border-bottom: 1px solid $light-gray;
		padding: $fifteen 0;
		.section-title {
			font-weight: 900;
		}
		a {
			color: $orange;
			font-weight: 400;
			&:hover {
				color: $orange-hover;
			}
		}
		.product-remove {
			@include media( $large-screen ) {
				@include span-columns(1);
			}
		}
		.product-thumbnail {
			@include media( $large-screen ) {
				@include span-columns(2);
			}
		}
		.product-name {
			@include span-columns(6);
			@include media( $mobile ) {
				margin-bottom: $fifteen;
			}
			@include media( $large-screen ) {
				@include span-columns(3);
			}
		}
		.product-price {
			@include span-columns(6);
			@include omega;
			@include media( $mobile ) {
				margin-bottom: $fifteen;
				text-align: right;
			}
			@include media( $large-screen ) {
				@include span-columns(2);
			}
		}
		.product-quantity {
			@include span-columns(6);
			@include media( $large-screen ) {
				@include span-columns(2);
			}
		}
		.product-subtotal {
			@include span-columns(6);
			@include omega;
			@include media( $mobile ) {
				text-align: right;
			}
			@include media( $large-screen ) {
				@include span-columns(2);
			}
		}
	}
}

.bottom-of-cart {
	@include row();
	padding-top: $fifty;
	.coupons {
		@include media( $large-screen ) {
			@include span-columns(6);
		}
		.coupon {
			margin-bottom: $twentyfive;
			width: 50%;
			input[type="submit"] {
				background: $light-gray;
				&:hover {
					background: $orange;
				}
			}
		}
		.update-cart {
			margin-bottom: $twentyfive;
			input[type="submit"] {
				background: $light-gray;
				&:hover {
					background: $orange;
				}
			}
		}
	}
	.cart-collaterals {
		@include media( $large-screen ) {
			clear: both;
			// @include span-columns(6);
		}
		.wc-proceed-to-checkout {
			@include row();
			margin: $twentyfive 0;
		}
	}
}

.woocommerce-checkout {
	.woocommerce-info {
		@include row();
		margin-bottom: $twentyfive;
	}
	.checkout_coupon {
		input[type="text"] {
			width: 25%;
		}
		input[type="submit"] {
			background: $light-gray;
			margin-bottom: $twentyfive;
			&:hover {
				background: $orange;
			}
		}
	}
	.checkout {
		@include row();
		.customer-information {
			@include media( $large-screen ) {
				@include span-columns(6);
			}
		}
		.gift-certificate,
		.review-order {
			@include media( $large-screen ) {
				@include span-columns(6);
			}
			label[for="payment_method_intuit_qbms"] {
				@include row();
				img {
					display: inline-block;
					width: 14%;
				}
			}
			.payment_methods {
				.payment_method_paypal_pro_payflow {
					img {
						max-width: 198px !important;
					}
				}
				.payment_method_paypal_express {
					img {
						max-width: 188px !important;
					}
				}
				li {
					.shipping-method-label {
						display: block;
					}
					&.payment_method_paypal {
						img {
							width: 50%;
						}
						.about_paypal {
							display: block;
						}
					}
				}
			}
			.place-order {
				.terms {
					label {
						display: inline;
					}
				}
			}
		}
	}
}

#customer_login {
	@include row();
	.col-1 {
		@include media( $large-screen ) {
			@include span-columns(4);
			@include shift(2);
		}
		.inline {
			display: inline;
		}
		.lost_password {
			font-size: 14px;
			a {
				color: $medium-gray;
				&:hover {
					color: $orange;
				}
			}
		}
	}
	.col-2 {
		@include media( $large-screen ) {
			@include span-columns(4);
		}
	}
}
