body {
  -webkit-font-smoothing: antialiased;
  background-color: $base-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font-family;
  line-height: $header-line-height;
  margin: 0;
  text-rendering: optimizeLegibility; // Fix the character spacing for headings
}

h1 {
    font: {
        size: $h1-font-size / 1.5;
        weight: 700;
    }
    letter-spacing: 2px;
    text-transform: uppercase;
    @include media( $large-screen ) {
        font: {
            size: $h1-font-size;
            weight: 700;
        }
    }
}

h2 {
    font: {
        size: $h2-font-size / 1.5;
        weight: 700;
    }
    letter-spacing: 1px;
    text-transform: uppercase;
    @include media( $large-screen ) {
        font: {
            size: $h2-font-size;
        }
    }
}

h3 {
    font: {
        size: $h3-font-size / 1.5;
        weight: 300;
    }
    @include media( $large-screen ) {
        font: {
            size: $h3-font-size;
        }
    }
}

h4 {
    font: {
        size: $h4-font-size / 1.5;
        weight: 700;
    }
    letter-spacing: 1px;
    text-transform: uppercase;
    @include media( $large-screen ) {
        font: {
            size: $h4-font-size;
        }
    }
}

h5 {
    font: {
        size: $h5-font-size / 1.5;
        weight: 700;
    }
    letter-spacing: 2px;
    text-transform: uppercase;
    @include media( $large-screen ) {
        font: {
            size: $h5-font-size;
        }
    }
}

h6 {
    font: {
        size: $h6-font-size / 1.5;
        style: italic;
        weight: 400;
    }
    @include media( $large-screen ) {
        font: {
            size: $h6-font-size;
        }
    }
}

.lead-in-copy {
    p {
        line-height: 42px;
        font: {
            size: $h3-font-size / 1.5;
            weight: 300;
        }
        @include media( $large-screen ) {
            font: {
                size: $h3-font-size;
            }
        }
    }
    a {
        color: $orange;
    }
}

p {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin: 0 0 ($base-spacing / 2);
}

small {
    font-size: 12px;
    @include media( $large-screen ) {
        font-size: 16px;
        a {
            color: $orange;
        }
    }
}

caption {
    font-size: 12px;
    font-style: italic;
}

a {
  @include transition(color 0.1s linear);
  color: $base-link-color;
  text-decoration: none;

  &:hover {
    color: $hover-link-color;
  }

  &:active, &:focus {
    color: $hover-link-color;
    outline: none;
  }
}

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

blockquote {
  font-size: $h3-font-size / 1.5;
  font-style: italic;
  font-weight: 400;
  @include media( $large-screen ) {
      font-size: $h3-font-size;
  }
}

cite {
  color: lighten($base-font-color, 25);
  font-style: italic;

  &:before {
    content: "\2014 \00A0";
  }
}
